# Development environment
venv/
.idea/
__pycache__/

# IO files
*.txt
*.tsv
*.csv
*.sif
*.pkl
*.png
*.json
*.pdf

# Exclude test fixtures
!tests/fixtures/**

# Exclude jupyter-lab
*.ipynb

# Exclude py4cytoscape logs
logs/

# Exclude pip install info
build/
perturbationx.egg-info/
